<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
</head>
<body style="text-align: center; color: #222;">
    <div style="width: 25em; padding: 1.7em; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; background-color: #f4f4f4;">
      <div>
        <h2 style="font-size: 1.5em;">Here is your One Time Password</h2>
        <p style="color: #666;">to validate your email address</p>
      </div>
      <h1 style="font-size: 2.6em; letter-spacing: 3px; font-weight: 200;"><%= otp %></h1>
      <p style="font-size: .9em; padding-inline: .5em; color: crimson;">It expires after one use.</p>
    </div>
</body>
</html>