:root {
  --brown: #4E3B34;
  --yellow: #FFCD54;

  --imgBgWidth: 30em;
  --imgBgHeight: 30em;
 
  --bgHeight: 220px;
  --parallaxHeight: 40em;

  --featuresConHeight: 28em;

  --gridWrapperHeight: 84em;
  --contactSectionHeight: 25em;

  --productsIntroBgHeight: 30em;

  --allProWidth: 10em;
  --allProHeight: 10em;

  --logCardChildWidth: 100%;
}

body {
  /* rgba(254,247,221, .4) */
  background-color: white;
  overflow-x: hidden;
  
}

body .hero-section {
  height: 80vh;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 1;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(122% + 1.3px);
  height: var(--bgHeight);
}

.wave .shape-fill {
  fill: #4E3B34;
}

/* Menu Icon */
.menu-con {
  display: inline-block;
  cursor: pointer;
}

.menu-con .bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--brown);
  margin: 6px 0;
  transition: 0.4s;
}

.menu-con .bar1.mobile, .bar2.mobile, .bar3.mobile {
  background-color: #eee;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.startBtn {
  outline: 1.8px solid var(--brown);
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
  transition: all .2s;
}

.startBtn::before {
  z-index: -1;
  content: '';
  position: absolute;
  background-color: var(--brown);
  width: 2em;
  height: 2em;
  border-radius: 50%;

  top: -1.5em;
  left: -1.5em;
  transform: scale(1);
  transition: all .7s;
}

.startBtn:hover {
  color: white;
}

.startBtn:hover::before {
  transform: scale(14);
}

/* Backgrund image cookie styling */
.cookie-bg {
  width: var(--imgBgWidth);
  height: var(--imgBgHeight);

  top: -3em;
  right: -13em;
  opacity: 0;
  transform: translateY(-2em);
  animation: bgAnim .8s .8s forwards;
}

@keyframes bgAnim {
  to {
    opacity: 1;
    transform: translateY(0em);
  }
}


body .nav-con > a.active::before {
   transform: scaleX(1);
}

.menuList-con .userInfo-mobile {
  border-bottom: 1px solid #ddd;
  width: 80%;
}


.menuList-con ul li { 
  transform: translateY(-.8em);
  opacity: 0;
  animation: menuItems 1s forwards;
}

/* .menuList-con ul li::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--yellow);
  bottom: -.2em;
} */

.menuList-con ul li:nth-child(2) {
  animation-delay: .2s;
}
.menuList-con ul li:nth-child(3) {
  animation-delay: .6s;
}
.menuList-con ul li:nth-child(4) {
  animation-delay: 1s;
}
.menuList-con ul li:nth-child(5) {
  animation-delay: 1.4s;
}

@keyframes menuItems {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.main-text > * {
  transform: translateY(.5em);
  opacity: 0;
  animation: titleAnim .7s forwards;
}

.main-text > p:nth-child(2) {
  animation-delay: .4s;
}

.main-text > p:nth-child(3) {
  animation-delay: .8s;
}

.hero-text-section > p > span::before {
  content: '';
  position: absolute;
  bottom: -.4em;
  left: -.6em;
  background-color: var(--yellow);
  border-radius: 1em;
  width: 120%;
  height: 2em;
  z-index: -1;

}


body .hero-text-section > p {
  opacity: 0;
  animation: paraIntro .7s 1.2s forwards;
} 

@keyframes paraIntro {
  to {
    opacity: 1;
  }
}

body .hero-text-section > button {
  transform: scale(0);
  animation: buttonIntro .5s 1.5s forwards;
}

@keyframes buttonIntro {
  to {
    transform: scale(1);
  }  
}

@keyframes titleAnim {
  to {
    opacity: 1;
    transform: translateY(0);
  }
  
}

body .grid-wrapper {
  height: var(--gridWrapperHeight);
}

body .features-section {
  height: var(--featuresConHeight);   
  margin-top: -.1em;
}

.features-section > div:nth-child(1) {
  transform: translateY(4.5em);
}



body .features-section .card {
  transform: translate(-3em,50%);
  opacity: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body .features-section .grid-section > div:nth-child(2) {
  transition-delay: .2s;
}

body .features-section .grid-section > div:nth-child(1) {
  transition-delay: .4s;
}

body .features-section.active .card {
  transform: translate(0,50%);
  opacity: 1;
  transition: all .8s;
}

.preview-flex > div {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
}

.text-gradient {
  font-size: calc(10vw + 1rem);
  background: linear-gradient(to bottom, var(--brown), #f4f4f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

body .parallax-section {
  background: url('../public/assets/parallax-bg-landscape.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  position: relative;
}

body .parallax-section::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.8);
}

body .parallax-section h2 {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

body .parallax-section h2::before,
body .parallax-section h2::after {
  content: '';
  height: 2px;
  width: 60%;
  position:absolute;
  top: -.5em;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--yellow  );
  margin-inline: auto;
  
}

body .parallax-section h2::before,
body .parallax-section h2::after {
  transform: translateX(-50%) scaleX(0);
  transition: all .7s;
}

body .parallax-section.active h2::before,
body .parallax-section.active h2::after {
  transform: translateX(-50%) scaleX(1);
}

body .parallax-section h2::after {
  top: auto;
  bottom: -.7em;
  width: 40%;

}

body .order-card .product-logo {
  transform: scale(0);
  transition: all .6s;
  transition-delay: .5s;
}

body .order-card {
  transform: translateY(-2em);
  opacity: 0;
}

body .order-card.active .product-logo {
  transform: scale(1);
}

body .order-card.active {
  opacity: 1;
  transform: translateY(0);
  transition: all .8s;
}

body .order-card.hover-active {
  transition: all .4s;
  transform: translateY(-.5em);
  /* background-color: rgba(254,247,221, .7); */
}


body .nav-cookie-bg {
 
  width: 37em;
  opacity: 1;
}

.about-us-section .contacts-section > h2 > div {
  transform: translateY(-1em);
  animation: contactIntro .6s .5s forwards;
}

@keyframes contactIntro {
  to {
    transform: translateY(0);
  }
}

.about-us-section .contacts-section > div > .contacts-card {
  opacity: 0;
  transform: translateX(-5em);
  animation: iconIntro 1s 1.1s forwards;
}

.about-us-section .contacts-section > div > .contacts-card:nth-child(2) {
  animation: iconIntro 1s 1.4s forwards;
  
}

.about-us-section .contacts-section > div > .contacts-card:nth-child(1) {
  animation: iconIntro 1s 1.8s forwards;

}

@keyframes iconIntro {
  to {
    opacity: 1;
    transform: translateX(0);
  }
  
}

.products-section .products-main-bg {
   margin-top: -3em;
   background: url("../public/assets/Products Section/product-section-bg.png");
   background-color: var(--yellow);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   min-height: var(--productsIntroBgHeight);
   position: relative;
}

.products-section .products-main-bg::before  {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  z-index: -1;
  
}

.products-section .menu-tag {
  transform: translateY(50%);
}

.products-section .menu-title::before {
  content: '';
  position: absolute;
  background-color: var(--brown);
  width: 75%;
  height: 1.5em;
  z-index: -1;
  opacity: 1;
  top: 50%;

  border-radius: 5em;
  transform: translateX(0%) translateY(-50%);
  opacity: 0;
  transition: all .7s;
  /* transition-delay: .8s; */
}

.products-section .menu-title {
  opacity: 0;
  transition: all .8s;
  
}

.products-section .menu-title.active {
  transform: translateY(0);
  opacity: 1;
}

.products-section .menu-title.active::before {
  transform: translateX(50%) translateY(-50%);
  opacity: 1;
}

html body .products-section .all-products {
  height: auto;
}

html body .products-section .all-products > h2 {
  opacity: 0;
  transition: all .5s;
}

html body .products-section .all-products > h2.active {
  opacity: 1;
}

.products-section .all-products .subTitle::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -.2em;
  background-color: var(--yellow);
  transform: scaleX(0);
  transition: all .6s;
  transition-delay: .5s;
}

.products-section .all-products .subTitle.active::before {
  transform: scaleX(1);
}


.products-section .all-products .grid-section > section {
 
  width: var(--allProWidth);
  transform: translateY(-4em);
  opacity: 0;
  transition: all .7s;
  transition-delay: 1s;
}

.products-section .all-products > h2.active ~ .grid-section > section {
  transform: translateY(0);
  opacity: 1;
}

.products-section .all-products .grid-section > section > div {
  background-color: gray;
  min-height: var(--allProHeight);
}

.products-section .all-products .grid-section section div::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 1;
}

.all-products .grid-section  section  button {
  transform: translate(-50%, -50%);
  border: 1px solid white;
 
}

.products-section .all-products .grid-section > section > div .bg-img{
  transition: all .5s;
}

.products-section .all-products .grid-section > section > div:hover .bg-img {
  transform: scale(1.1);
}

.products-section .all-products .grid-section > section button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.products-section .products-header h2 {
  opacity: 0;
  transform: translateX(-3em);
  animation: proIntroTitle .8s .2s forwards;
}

.products-section .products-header p {
  opacity: 0;
  transform: translateY(-3em);

  animation: proIntroTitle .8s 1s forwards;

}

.products-section .pro-introduction > * {
  opacity: 0;
  transition: all .8s;
}

.products-section .pro-introduction > *:first-child {
  transform: translateX(-10em);
}

.products-section .pro-introduction > *:last-child {
  transform: translateX(10em);
}

.products-section .pro-introduction.active > * {
  transform: translate(0,0);
  opacity: 1;
}

.custom-shape-divider-bottom-1700143696 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1700143696 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 172px;
}

.custom-shape-divider-bottom-1700143696 .shape-fill {
  fill: #4E3B34;
}

.logreg-con .logreg-card {
  height: 32em;
  z-index: 20;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
}

.logreg-con .logreg-card .login,
.logreg-con .logreg-card .register {
  min-width: var(--logCardChildWidth);
  transition: transform .8s, opacity 1s;
}

.logreg-con .logreg-card .register {
  opacity: 0;
}

.logreg-con.switch .logreg-card .register {
  opacity: 1;
}

.logreg-con.switch .logreg-card .login {
  opacity: 0;
}

.logreg-con.switch .logreg-card .login,
.logreg-con.switch .logreg-card .register {
  transform: translateX(-100%);


}

.logreg-con  .navigation {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.logreg-con .navigation-con {
  transform: translateY(-5em);
}

.logreg-con .navigation-con.active {
  transform: translateY(0);
}

.logreg-con .navigation-con,
.logreg-con .navigation-con .arrow-down {
  transition: all .5s;

}

.logreg-con .navigation-con.active .arrow-down {
  transform: rotate(180deg);
  background-color: white;
  border-radius: 50%;
}


.input-box-con > div {
  border: 1px solid #666;
}
 
.input-box-con > div input {
  outline: 0;
  border: 0;
}

.input-box-con > div label {
  color: #777;
  transition: all .2s;
}

.input-box-con > div input:focus ~ label,
.input-box-con > div input:valid ~ label {
  top: -2em;
  font-size: .8em;
  font-weight: bold;
  color: #333;
  background-color: white;
}


.account-auth-section input {
  border: 1px solid #222;
  height: 2.5em;
  padding-inline: .5em;
  border-radius: .4em;
  outline: 0;
}

.account-auth-section input:focus {
  outline: 2px solid var(--yellow);
  border-color: var(--yellow);
}

.summary-section .product {
  border-bottom: 2px solid #222;
  padding-bottom: 2em;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: .7em;
}

.summary-section button {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


@keyframes proIntroTitle {
  to {
    opacity: 1;
    transform: translate(0,0);
  }
  
}



@media (min-width: 400px) {
  :root {
    --gridWrapperHeight: 75em;

    --allProWidth: 11em;
    --allProHeight: 11em;
  }
}

@media (min-width: 480px) {
  .logreg-con .logreg-card {
    width: 27em;
  }
}

@media (min-width: 520px) {

    :root {
      --imgBgWidth: 37em;
      --imgBgHeight: 37em;
    }

    .summary-section .product {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

}

@media (min-width: 720px) {

  :root {
    --imgBgWidth: 40em;
    --imgBgHeight: 40em;
    --bgHeight: 100px;
    --gridWrapperHeight: 84em;
    --allProWidth: 15em;
    --allProHeight: 15em;

  }

  

  .menu-con {
    display: none;
  }

  .cookie-bg {
    top: -7em;
    right: -17em;
  }

  .menu-list > a::before {
    content: '';
    background-color: var(--brown);

    position: absolute;
    bottom: -.1em;
    left: 0;
    width: 100%;
    height: 1.5px;
    transform: scaleX(0);
    transform-origin: left;
    transition: all .3s;

  }

  .menu-list > a:hover::before, 
  .menu-list > a.active::before{
    transform: scaleX(1);
  }

  

}

@media (min-width: 930px) {

  :root {
    --logCardChildWidth: 50%;
  }


  body .hero-section {
    height: 80vh;
    
    
  }

  .logreg-con .logreg-card {
    width: 52em;
  }

  body .main-wrapper {
    max-width: 55em;
    margin-inline: auto;
  }

  .logreg-con .logreg-card .brown-section {
    transform: translateX(100%);
    border-top-left-radius: 7em;
    border-bottom-left-radius: 7em;
    transition: transform .8s, border-radius 1.3s;
  }

  .logreg-con.switch .logreg-card .brown-section {
    transform: translateX(0%);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 7em;
    border-bottom-right-radius: 7em;
  }

  .logreg-con .logreg-card .register {
    transform: translateX(-60%);
    opacity: 0;
    transition: all .7s;
    z-index: 10;
  }

  .logreg-con.switch .logreg-card .register {
    transform: translateX(0%);
    opacity: 1;
    z-index: 20;
  }

  .logreg-con .logreg-card .login {
    transform: translateX(0%);
    opacity: 1;
    transition: all .7s;
    z-index: 20;
  }

  .logreg-con.switch .logreg-card .login {
    transform: translateX(60%);
    opacity: 0;
  }

  .logreg-con .logreg-card .sign-in-text,
  .logreg-con .logreg-card .register-text {
    opacity: 0;
    transition: all .8s;
  }

  .logreg-con .logreg-card .sign-in-text {
    transform: translateX(-110%);
    
  }

  .logreg-con.switch .logreg-card .register-text {
    transform: translateX(110%);
  }

  .logreg-con.switch .logreg-card .sign-in-text,
  .logreg-con .logreg-card .register-text {
    transform: translateX(0%);
    opacity: 1;

  }

  .summary-section .product {
    gap: 2em;
  }

  
}

@media (min-width: 1220px) {

  :root {
    --imgBgWidth: 45em;
    --imgBgHeight: 45em;

     --featuresConHeight: 35em;
     --gridWrapperHeight: 48em;
   
     --productsIntroBgHeight: 90vh;

     --allProWidth: 18em;
     --allProHeight: 18em;
  }

  body .preview-flex {
    max-width: 70em;
    margin-inline: auto;
 }
  body .hero-section {
    height: 35em;
    
    
  }


  body .main-wrapper {
    /* max-width: 75em; */
    max-width: 100%;
  }

  .cookie-bg {
    top: -7em;
    right: -14em;
  }

  body .title-section {
    overflow: hidden;

  }

  .products-section .products-header {
   /*  border: 2px solid #eee; */
    padding: 2em;
   /*  width: 50em; */
  }

  .products-section .pro-introduction {
    width: 55em;
  }

  .logreg-con .navigation-con {
    transform: translateY(0);
  }

  .logreg-con .navigation > *::before {
   
    left: 5.4em;
    font-size: .85em;
    position: absolute;
    color: white;
    background-color: var(--brown);
    padding: .5em;
    border-radius: 1em;
    transform: translateX(-1em) scale(.4);
    opacity: 0;
    transform-origin: top left;
    transition: all .5s;

  }

  .logreg-con .navigation > *:hover::before {
    transform: translateX(0) scaleX(1);
    opacity: 1;
  }

  .logreg-con .navigation > *:nth-child(1)::before {
    content: 'home';
  }

  .logreg-con .navigation > *:nth-child(2)::before {
    content: 'products';
  }

  .logreg-con .navigation > *:nth-child(3)::before {
    content: 'contacts';
  }

  .summary-section {
    width: 35em;
    
  }

  .summary-section .product {
    grid-template-columns: 1fr;
  }

}

@media (min-width: 1350px) {
  .summary-section {
    width: 40em;
    
  }

  .summary-section .product {
    gap: 1.5em;
  }
}

@media (min-width: 1550px) {
  body .main-wrapper {
    max-width: 90em;
  }
}






:root {
  --brown: #4E3B34;
}

body .grid-section.inv > *:nth-child(1) {
  grid-area: grid1;
}

body .grid-section.inv > *:nth-child(2) {
  grid-area: grid2;
}

body .grid-section.inv > *:nth-child(3) {
  grid-area: grid3;
}

body .grid-section.inv {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-areas: 
  'grid3 grid1'
  'grid3 grid2'
                       ;
}


body .inv-con-img::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 20;
}

body .inv-con {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body .pro-review {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1.5em;
  max-width: 95%;
}

/* Loading Animation Review */
.container-loading {
  --uib-size: 45px;
  --uib-color: var(--brown);
  --uib-speed: 1.75s;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: var(--uib-size);
  height: auto;
}

.cube {
  flex-shrink: 0;
  width: calc(var(--uib-size) * 0.2);
  height: calc(var(--uib-size) * 0.2);
  animation: jump var(--uib-speed) ease-in-out infinite;
}

.cube__inner {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 25%;
  background-color: var(--uib-color);
  transform-origin: center bottom;
  animation: morph var(--uib-speed) ease-in-out infinite;
  transition: background-color 0.3s ease;
}

.cube:nth-child(2) {
  animation-delay: calc(var(--uib-speed) * -0.36);

  .cube__inner {
    animation-delay: calc(var(--uib-speed) * -0.36);
  }
}
.cube:nth-child(3) {
  animation-delay: calc(var(--uib-speed) * -0.2);

  .cube__inner {
    animation-delay: calc(var(--uib-speed) * -0.2);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }

  30% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }

  50% {
    transform: translateY(-200%);
    animation-timing-function: ease-in;
  }

  75% {
    transform: translateY(0px);
    animation-timing-function: ease-in;
  }
}

@keyframes morph {
  0% {
    transform: scaleY(1);
  }

  10% {
    transform: scaleY(1);
  }

  20%,
  25% {
    transform: scaleY(0.6) scaleX(1.3);
    animation-timing-function: ease-in-out;
  }

  30% {
    transform: scaleY(1.15) scaleX(0.9);
    animation-timing-function: ease-in-out;
  }

  40% {
    transform: scaleY(1);
  }

  70%,
  85%,
  100% {
    transform: scaleY(1);
  }

  75% {
    transform: scaleY(0.8) scaleX(1.2);
  }
}

.add-to-cart-msg {
  transform: translateY(-1em);
  opacity: 0;
  user-select: none;
  transition: all .6s;
}

.add-to-cart-msg.active {
  transform: translateY(0);
  opacity: 1;
}

.cart-con .cart-products-con.max {
  max-height: 18em;
}

@media (min-width: 930px) {



  body .inv-main-img {
      width: 65em;
      max-height: 20em;
  }

 

}

@media (min-width: 1220px) {
body .inv-main-img {
      width: 30em;
      min-height: 25em;
  }
  body .inv-main-img ~ section {
      width: 30em;

  }
}




.cart-con .cart-card {
  min-height: 18em;
  animation: cartModal .5s forwards;
  transform: scale(.2);
  transform-origin: top;
}

@keyframes cartModal {
  to {
      transform: scale(1);
  }
  
}

.cart-con .cart-products-con {
  min-height: 5em;
}

.cart-con .cart-products-con > div {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: .7em;
}

@media (min-width: 400px) {
  .cart-con .cart-card {
      width: 23em;
  }
}

@media (min-width: 720px) {
  .page-not-found {
     min-height: 70vh;
  }
}

@media (min-width: 1220px) {

  .page-not-found h1 {
    font-size: 10em;
  }

  .page-not-found {
    min-height: 80vh;
    margin-bottom: 2em;
  }
}
